.favorite-button {

  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid transparent;

  border-radius: 50%;

  background: #EDF8F2;

  cursor: pointer;
}

